@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Adam';
        src: url('../../public/fonts/Adam-Bold.ttf');
    }

    @font-face {
        font-family: 'Sarmandy';
        src: url('../../public/fonts/SarmadyVF.ttf');
    }
}

.glow-text {
    color: #ffcb9a;
    text-shadow: 0 0 20px #ffcb9a; 
}
.vertical-separator {
    width: 2px;
    background-color: #ffcb9a;
    margin: 20px 0; 
  }
  